1: Create a srting and print it.

In [ ]:
s ="I can't be a loser"
print(s)

I can't be a loser

2: Take a string input and print it's length.

In [ ]:
i = str(input())
print(len(i))

happy
5

3: Print the last word of the string Python is great using slices.

In [ ]:
s1 = "life is good"
s2 = s1.split()
print(s2[-1:])

['good']

4: Print the each word in different line of string python is everywhere.

In [ ]:
s3 ="python is everywhere"
for word in s3.split():
  print(word)

python
is
everywhere

5: Print the string Hello World! in reverse.

In [ ]:
s4 = "Hello world!"
print(s4[::-1])

!dlrow olleH

6: Convert the string How are you? in uppercase.

In [ ]:
s5 = "How are you? "
print(s5.upper())

HOW ARE YOU?

7: Convert the string How Is It Going? in lowercase.

In [ ]:
s6 = " How Is It Going?  "
print(s6.lower())

 how is it going?

8: Join the following list by spaces( ) and print the result.
words = ['Python', 'is', 'easy', 'to', 'learn']

In [ ]:
words = ['Python', 'is', 'easy', 'to', 'learn']

9:Print a multiline string using a single print

In [ ]:
s7 = ''' Heyy there is i am ;
coding at last moment;
i feel blue  right now '''
print(s7)

 Heyy there is i am ;
coding at last moment;
i feel blue  right now

10: Print this string to move to newline '\n' is used. (results should look
exactly like the provided string)

In [54]:
s8 = "to move to newline '\\n' is used."
print(s8)

to move to newline '\n' is used.

11: Print a variable with some text using a single print function, output should look like following.
the variable is 15

In [ ]:
s = input()
print(f"the variable is {s}")

15
the variable is 15

12 : concatenate the following strings and print the result
s1 = 'python '
s2 = 'is '
s3 = 'great.'

In [ ]:
s1 = 'python '
s2 = 'is '
s3 = 'great.'
print(s1+s2+s3)

python is great.

13: Print # 20 times without using a loop

In [ ]:
print("# "*20)

# # # # # # # # # # # # # # # # # # # #

14: Print numbers from 1 to 9, each on a seperate line, followed by a dot, output should look like the following-
1.
2.
3.

In [ ]:
n = "1.\n2.\n3 \n4.\n5.\n6.\n7.\n8.\n9.\n"
print(n)

1.
2.
3
4.
5.
6.
7.
8.
9.

15: Ask user to input a sentence and print each word on a different line.

In [ ]:
s9 = str(input())
print(s9,sep= "\n")

happy is doing
happy is doing

16: Ask user to input a string and check if the string ends with '?'

In [ ]:
s10 = str(input())
if s10[-1] == "?":
  print("valid")

happy is ?
valid

17: Ask user to input a string and print how many times e appeared in the string

In [ ]:
s11 = str(input())
if "e" in s11:
  print(s11.count("e"))

hehe
2

18 : Check if the user input is a number.

In [ ]:
s = input()
if s.isnumeric():
  print("it is numeric")

12
it is numeric

19: Remove the extra spaces in beginning and in the end of the following string-
text = '   this is not a good string           '

In [ ]:
text = '     this is not a good string           '
print(text.strip())

this is not a good string

20: Ask user to input string, print found if any of the character is upper case.

In [61]:
str=input("Enter a string:")
for i in str:
  if i.isupper():
    print("found")

Enter a string:happy Is HH
found
found
found

21: Extract names from the following string and store them in a list.

In [9]:
names = 'Joe, David, Mark, Tom, Chris, Robert'
name = (list(names.split()))
print(name)

['Joe,', 'David,', 'Mark,', 'Tom,', 'Chris,', 'Robert']

22: In the following string, add aye in the end of every word and print the results.
- text = 'this is some text'

In [36]:
text = 'this is some text'
for word in text.split():
  print(word + "aye",end = " ")

thisaye isaye someaye textaye

23: ask user to enter a string and check if the string contains fyi

In [40]:
string = str(input("enter string: "))
sub_string = "fyi"
if sub_string in string:
  print("found")
else:
  print("fyi is not present")

enter string: hiii  gyi fyi
found

24: Remove all the special characters and numbers from the following string

In [44]:
s12 = ' !@#$%^&*()_-{}":,?0123456789'
text = '%p34@y!*-*!t68h#&on404'
for c in text:
  if c not in s12:
    print(c,end="")

python

25: calculate the average word length of the following paragraph.
"this is a paragraph which is written just for the purpose of providing content to let the average word length be calculated"

In [46]:
sentence = "Hi my name is Jeff Bezos"
words = sentence.split()
average = sum(len(word) for word in words) / len(words)
print(average)

3.1666666666666665